.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/google-chrome/
.config/mimeapps.list
.lesshst
.local/
.lyxauth
.mozilla/
.pki/
.ssh/
.zcompdump-ship-5.8.1
.zsh_history
.zshrc.pre-oh-my-zsh
.gnupg/
.npm/
.fehbg/
node_modules/
package-lock.json
package.json
install/
ufrn/
Downloads/
development/
.vscode/
.ipython/
.java/
.pub-cache/
Android/
.config/Code/
.android/
.config/Google/
.config/flutter/
.flutter
.android/
.pki
.pub-cache
.zcompdump-ship-5.8.1
.dart/
.dartServer/
.Xauthority
.config/pacmixer/
.gitconfig-stoom
.shell.pre-oh-my-zsh
.zcompdump-garage-5.8.1
.config/OpenRGB/
.config/coc/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/zoomus.conf
.zoom/
st/
