.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/google-chrome/
.config/mimeapps.list
.lesshst
.local/
.lyxauth
.mozilla/
.pki/
.ssh/
.zcompdump-ship-5.8.1
.zsh_history
.zshrc.pre-oh-my-zsh
.gnupg/
.npm/
node_modules/
package-lock.json
package.json
install/
ufrn/
Downloads/

